In [37]:
from sklearn import tree
import random
import pandas
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.naive_bayes import BernoulliNB
from sklearn import linear_model
from astropy.table import Table, Column
import numpy as np
import graphviz 
from sklearn import metrics
from sklearn.feature_extraction.text import CountVectorizer
import sys

In [91]:
data = pandas.read_csv('Chat_Text_Data.csv')
data = data.iloc[1:2]

In [92]:
vectorizer = CountVectorizer(stop_words='english')

In [93]:
res = vectorizer.fit_transform(data['Text'].values)

In [107]:
print(vectorizer.get_feature_names())
df = pandas.DataFrame(res.toarray(),columns=vectorizer.get_feature_names())
df.head()
df['rationale'] = ""

['awesome', 'purdue', 'time']

In [108]:
df.head()

   awesome  purdue  time rationale
0        1       1     1

In [109]:
for i in range(df.shape[0]):
    print(data.iloc[i]['Text'])
    if df.loc[i]['rationale']=='':
        word = input()
        df.set_value(i,'rationale',word)
        df.set_value(i,word, df.loc[i][word]*5)

have an awesome time at purdue!..
awesome

In [110]:
df.head()

   awesome  purdue  time rationale
0        5       1     1   awesome